<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.test.demo.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.test.demo.entity.Menu">
        <!--  -->
        <result column="id"  property="id" jdbcType="INTEGER" />
        <!-- 菜单名字 -->
        <result column="menu_name"  property="menuName" jdbcType="VARCHAR" />
        <!-- 菜单路径 -->
        <result column="menu_url"  property="menuUrl" jdbcType="VARCHAR" />

    </resultMap>
    <select id="selMenu" resultMap="BaseResultMap">
        select * from menu
    </select>
</mapper>