/* 出勤统计 */
.kxz-workTime--dailyAnalysis__subItem {
  float: left;
  box-sizing: border-box;
  width: 20%;
  height: 150px;
  margin-right: 3%;
  border: 1px solid #e6e6e6;
}
.kxz-workTime--dailyAnalysis__subItem h4 {
  padding-left: 25px;
  padding-top: 15px;
  font-size: 14px;
  color: #999;
}
.kxz-workTime--dailyAnalysis__subItem div {
  padding: 10px 25px 25px;
  font-size: 25px;
  color: #333;
}
.kxz-workTime--dailyAnalysis__subItem p {
  padding: 13px 20px;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  color: #999;
}
/* 请假调休情况 */
.kxz-workTime--adjustWeek .chartBox {
  float: left;
  box-sizing: border-box;
  height: 380px;
  border: 1px solid #e6e6e6;
}
.kxz-workTime--adjustWeek .chartBox:first-child {
  width: 32%;
}
.kxz-workTime--adjustWeek .chartBox:nth-child(2) {
  width: 32%;
  margin: 0 2%;
}
.kxz-workTime--adjustWeek .chartBox:last-child {
  width: 32%;
}
.kxz-workTime--adjustWeek .top {
  padding: 25px 25px 0;
}
.kxz-workTime--adjustWeek .top__item {
  float: left;
  margin-right: 60px;
}
.kxz-workTime--adjustWeek .top__item h4 {
  margin-bottom: 20px;
  font-size: 14px;
  color: #999;
}
.kxz-workTime--adjustWeek .top__item div {
  margin-bottom: 15px;
  font-size: 25px;
}
.kxz-workTime--adjustWeek .chart {
  position: relative;
  width: 100%;
  height: 270px;
}
.kxz-workTime--adjustWeek .chartContent {
  width: 100%;
  height: 100%;
}
