/* reset */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
    border: 0;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

[hidefocus],
summary {
    outline: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
    font-size: 100%;
}

sup,
sub {
    font-size: 83%;
}

pre,
code,
kbd,
samp {
    font-family: inherit;
}

q:before,
q:after {
    content: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label,
summary {
    cursor: default;
}

a,
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
    font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
    text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
    outline: 0;
}

body {
    background: #fff;
    font: normal 16px '黑体', '宋体', Calibri, 'Segoe UI', Calibri, Thonburi, Arial, Verdana, Sans-Serif, 'Mongolian Baiti', 'Microsoft Yi Baiti', 'Javanese Text';
    color: #333;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}


.main {
    width: 926px;
    margin: 0 auto;
}

#pdf {
    width: 926px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
}

.button {
    text-align: right;
    padding-right: 40px;
    margin-bottom: -20px;
}

.button button {
    display: none;
    width: 80px;
    height: 40px;
    margin-top:100px;
    margin-right: 380px;
}


.box {
    width: 846px;
    margin: 0 auto;
    border: 2px solid #000;
    margin-top:10px;
    margin-bottom: 20px;
}

.title {
    height: 30px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.num {
    font-weight: 600;
    text-align: right;
    padding-right: 5px;
    border-bottom: 1px solid #000;
    line-height: 25px;
}


.name {
    width: 658px;
    float: left;
}

.photo {
    width: 188px;
    /*height: 100%;*/
    line-height: 180px;
    float: right;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    margin-top: -1px;
}

.census label {
    display: block;
    height: 50%;
    margin-top: -5px;
}

.census input {
    vertical-align: middle;
}

.census span {
    vertical-align: middle;
}

.jjllr {
    width: 160px;
    height: 20px;
    border: 0;
    border-bottom: 1px solid #333;
    background-color: transparent;
}

.tip {
    text-align: left;
    line-height: 30px;
    padding-left: 5px;
}

.sign {
    text-align: right;
    line-height: 30px;
}

.signinput {
    height: 30px;
    width: 200px;
    border: 0;
    padding: 3px;
    box-sizing: border-box;
    background-color: transparent;
}
/* 单个格子尺寸 */

.td1 {
    float: left;
    width: 94px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.td2 {
    float: left;
    width: 188px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.td3 {
    float: left;
    width: 282px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.td8 {
    float: left;
    width: 752px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.h40 {
    height: 40px;
}

.h60 {
    height: 60px;
    text-align: center;
}

.h60 .input {
    line-height: 55px;
    overflow: hidden;
}
.norb .input {
    line-height: 35px;
    overflow: hidden;
}
.input{
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    valign:center
}

.h120 {
    height: 160px;
}

.h150 {
    height: 200px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.norb {
    border-right: 0;
}

.input {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    padding: 3px;
    box-sizing: border-box;
}

#upload {
    width: 850px;
    margin: 0 auto;
    border: 2px solid #000;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 40px;
}
#upload>i{
    font-size: 18px;
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: #fff;
    padding: 10px 20px;
}
#upload>div{
    margin-top: 15px;
}
#upload>div>span{
    color: #025fef;
    margin-right: 10px;
}
#uploadbtn{
    position: absolute;
    top: 20px;
    right: 20px;    
    width: 60px;
    height: 30px;
}

.logo{
    padding: 10px 40px;
    box-sizing: border-box;
}
.logo>div{
    float: right;
    width: 250px;
}
.logo>div>img{
    width: 100%;
}



.required{
    color: red;
}