/* 试用期期满自评 */
 .sheet__line{
  border:1px solid #444;
  border-bottom:none;
}
.sheet__line.l1{
  line-height:25px;
  text-align:center;
}

.sheet__line.l2{
  line-height:35px;
  border-bottom:1px solid #444;
}

.sheet__line.l2 > .sheet__item{
  box-sizing:border-box;
  float:left;
  width:20%;
  border-right:1px solid #444;
  /* border-bottom:1px solid #444; */
  text-align:center;
}

.sheet__line.l2 > .sheet__item:last-child{
  border-right:none;
}

.sheet__content{
  height:1000px;
  border-right: 1px solid #444;
}

.sheet__content__column{
  float:left;
  height:100%;
  border-right:1px solid #444;
  text-align:center;
}

.sheet__content__column h2{
  line-height:25px;
  font-size:14px;
  background:#ddd;
  border-bottom:1px solid #444;
}

.sheet__content__column .text--wrapper{
  height:calc(100% - 25px);
}

.sheet__content__column.c1{
   width:55px;
   border-left:1px solid #444;
   border-bottom:1px solid #444;
   text-align:center;
}

.sheet__content__column.c1::after{
  display:inline-block;
  content:"";
  height:100%;
  vertical-align:middle;
}

.sheet__content__column.c1 .vertical-text{
  display:inline-block;
   width:20px;
  font-size:16px;
  line-height:60px;
}

.sheet__content__column.c2{
  width:calc(20% - 57px);
}

.sheet__content__column.c3{
  width:calc(40% - 2px);
}

.sheet__content__column.c4{
  width:calc(20% - 1px);
}

.sheet__content__column.c5{
  width:20%;
  border-right:none;
}

.sheet__content--text{
  box-sizing:border-box;
  height:20%;
  border-bottom:1px solid #444;
}

.sheet__content--text2{
  box-sizing:border-box;
  height:20%;
  border-bottom:1px solid #444;
}

.sheet__content--text2 select{
  width: 50px;
  margin-top: 80px;
}

.sheet__content--text textarea{
  box-sizing:border-box;
  width:100%;
  height:calc(100% - 10px);
  padding:8px;
  font-size: 15px;
}
