/* 员工填写个人总结*/
.sheet__desc{
   border-top:1px solid #444;
   border-left:1px solid #444;
}
.sheet__desc__item{
  box-sizing:border-box;
  float:left;
  width:25%;
  line-height:35px;
  border-right:1px solid #444;
  border-bottom:1px solid #444;
  font-size:14px;
  padding-left:8px;
}
.sheet__desc__item input{
  font-size:14px;
  line-height:25px;
  transform:translateY(2px);
  background:transparent;
}
.sheet__content{
  border:1px solid #444;
  border-top:none;
}
.sheet__content__item h2{
  font-size:14px;
  text-align:left;
  padding:5px;
}
.sheet__content__item .textarea{
  box-sizing:border-box;
  width:100%;
  /* height:110px; */
   height:170px;
  padding:8px;
  font-size:15px;
}

.sheet__footer{
  padding:5px;
  font-size:12px;
}
