<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
******************************************************************************
* 数据库表：t_role
* 表的名称：Role
* 对应实体：com.test.demo.modular.game.entity.Role
* 开发日期：2018-07-02
* 技术服务: 
******************************************************************************
-->
<mapper namespace="com.test.demo.modular.sys.mapper.RoleMapper">

    <!--
    **************************************************************************
    * 定义ResultMap
    * 注: 实现类的属性名和数据库列名一致
    **************************************************************************
    -->
    <resultMap id="BaseResultMap" type="com.test.demo.modular.sys.entity.Role">
        <!--  -->
        <result column="id" property="id" jdbcType="INTEGER"/>
        <!-- 角色名字 -->
        <result column="cName" property="cname" jdbcType="VARCHAR"/>
        <!-- 角色描述 -->
        <result column="cDesc" property="cdesc" jdbcType="VARCHAR"/>
        <!-- 创建时间 -->
        <result column="tDate" property="tdate" jdbcType="TIMESTAMP"/>
        <!-- 状态 0：启用 1： 禁用 -->
        <result column="fState" property="fstate" jdbcType="INTEGER"/>
        <!-- 最后修改时间 -->
        <result column="tUpdateDate" property="tupdatedate" jdbcType="TIMESTAMP"/>
        <!-- 已选的菜单（父节点不要） -->
        <association column="{id=id}" property="menuData" javaType="string" select="selectCheckMenu"/>
    </resultMap>

    <!--
    **************************************************************************
    * 1.新增一条数据
    * 注: 根据Bean实体执行新增操作.
    **************************************************************************
    -->
    <insert id="insertRole"
            parameterType="com.test.demo.modular.sys.entity.Role"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT   /* getInsert+@com.test.demo.modular.game.entity.Role */
        INTO   t_role          /*  */
            (
                cName                   /* 角色名字 */
               ,cDesc                   /* 角色描述 */
               ,tDate                   /* 创建时间 */
               ,fState                  /* 状态 0：启用 1： 禁用 */
               ,tUpdateDate             /* 最后修改时间 */
            )
        VALUES
            (
                #{cname}   /* 角色名字 */
               ,#{cdesc}   /* 角色描述 */
               ,#{tdate}   /* 创建时间 */
               ,#{fstate}  /* 状态 0：启用 1： 禁用 */
               ,#{tupdatedate}   /* 最后修改时间 */
            )
    </insert>

    <!-- 查询所有角色 -->
    <select id="selectRole" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            t_role
        order by id
    </select>

    <!-- 删除角色 -->
    <delete id="delRole" parameterType="int">
        DELETE  FROM t_role where id = #{roleId}
    </delete>

    <!-- 所有可选角色 -->
    <select id="loadRole" resultType="java.util.Map">
        SELECT
            id AS value,
            cName AS label
        FROM
            t_role
        WHERE
            fState = 0
    </select>

    <!-- 根据角色id查找已选菜单id(是父节点的不要) -->
    <select id="selectCheckMenu" resultType="string">
        SELECT
            GROUP_CONCAT(menu_id separator ',') AS menuData
        FROM
            t_role_menu trm
        LEFT JOIN t_menu  tm ON trm.menu_id = tm.id
        WHERE
            trm.role_id = #{id} AND tm.is_button = 1
    </select>

    <!-- 修改角色信息 -->
    <update id="updateRole">
        UPDATE
            t_role
        <trim prefix="set" prefixOverrides=",">
            <if test='cname != null and cname != "" and cname != "null" and cname != "undefined" '>
                ,cName =  #{cname}  /* 角色名字 */
            </if>
            <if test='cdesc != null and cdesc != "" and cdesc != "null" and cdesc != "undefined" '>
                ,cDesc = #{cdesc}   /* 角色描述 */
            </if>
            <if test='fstate != null'>
                ,fState =  #{fstate}  /* 状态 0：启用 1： 禁用 */
            </if>
            <if test='tupdatedate != null and tupdatedate != "" and tupdatedate != "null" and tupdatedate != "undefined" '>
                ,tUpdateDate =  #{tupdatedate}  /* 最后修改时间 */
            </if>
        </trim>
        WHERE
        id = #{id}
    </update>
</mapper>